# MongoDB
MONGODB_URI=mongodb://localhost:27017/auth-service

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRATION=15m

# Recovery Token
RECOVERY_TOKEN_EXPIRATION=15

# App
PORT=3000
NODE_ENV=development